@charset "utf-8";
html {
  scroll-behavior: smooth;
}
.header {
  text-align: center;
  background-color: #ABABAB;
  width: auto;
  height: auto;
  padding: 50px;
  margin: 0px;
}
.header h1 {
  font-family: open-sans-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 80px;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-shadow: 5px 5px 6px #000000;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 15px;
}
.nav {
  padding-bottom: 20px;
}
.nav a, .nav a:hover {
  text-decoration: none;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  display: inline-block;
  font-family: open-sans-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-shadow: 4px 3px 6px #000000;
}
body {
  margin: 0px;
  font-family: open-sans-condensed, sans-serif;
  font-weight: 300;
  font-size: 18px;
}
#backhomebtn {
  display: none;
  position: fixed;
  bottom: 15px;
  float: right;
  right: 5%;
  z-index: 99;
  cursor: pointer;
  font-size: 15px;
  font-family: open-sans-condensed, sans-serif;
  font-weight: 300;
  padding: 5px;
  border-radius: 5px;
  background-color: #ABABAB;
  -webkit-box-shadow: 2px 2px 6px;
  box-shadow: 4px 4px 6px;
}
#backhomebtn:hover {
  background-color: #C2C2C2;
  text-decoration: none;
  color: #000;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
  color: #ABABAB;
}
a.footer, a.footer:hover, a.divider-footer {
  text-decoration: none;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  display: inline-block;
  font-style: normal;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-shadow: 4px 3px 6px #000000;
  font-family: open-sans-condensed, sans-serif;
  font-weight: 300;
}
h2 {
  font-family: open-sans-condensed, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 40px;
  width: 95%;
  border-bottom: 2px solid #A6A6A6;
  line-height: 0.1em;
  word-wrap: break-word;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
h2 span {
  background-color: #fff;
  padding: 0 10px;
  word-wrap: break-word;
}
h3.jobtitle, h3.company {
  font-size: 25px;
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
h3.education {
  text-align: center;
  padding-bottom: 20px;
}
h3.honors {
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
  margin-top: 10px;
}
h3.projects {
  font-size: 25px;
}
h4 {
  font-size: 20px;
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
.education p{
  margin-top: 15px;
}
div.education{
  margin-bottom:20px;
}
h4.date, h4.location {
  font-size: 20px;
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
}
h5.link{
  word-wrap: break-word;
}
.link img{
  height: 15px;
  padding-right: 10px;
}
h4.education {
  margin-top: 15px;
  font-weight: 700;
}
h4.projects {
  font-size: 18px;
}
h5 {
  font-size: 17px;
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
}
h5.education {
  padding-top: 5px;
}
h5.projects {
  padding-top: 5px;
}
p.jobdescr, p.jobdescr ul{
  margin-top: 10px;
  margin-bottom:10px;
}
p.studyabroad {
  margin: 0px;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.container {
  padding: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.container::after, .row::after {
  clear: both;
}
.row {
  margin-bottom: 15px;
}
.container::before, .container::after, .row::before, .row::after {
  display: table;
  content: " ";
}
::before, ::after {
  box-sizing: border-box;
}
.leftcolumn {
  display: block;
  float: left;
  width: 33.33333333%;
  padding-left: 40px;
  padding-right: 20px;
}
.rightcolumn {
  display: block;
  float: left;
  width: 66.66666667%;
  padding-left: 20px;
  padding-right: 40px;
}
.column-50 {
  display: block;
  float: left;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}
.education-table {
  display: table;
  width: 100%;
  border-spacing: 1em;
}
.education-col {
  display: table-cell;
  padding: 20px;
  border: 5px double black;
  text-align: center;
  width: 33.333333%;
}
.leftcolumn, .rightcolumn, .column-50, .footer-col75, .footer-col25 {
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
}
img.projects-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  display: block;
  margin: auto;
  border: 3px solid black;
  margin-bottom: 10px;
}
.projects-icon {
  max-width: 75%;
  max-height: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: block;
}
img.projects-img:hover {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  display: block;
  margin: auto;
  border: 3px solid black;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  opacity: .5;
}
footer {
  background-color: #ABABAB;
  width: auto;
  min-height: 150px;
  max-height: auto;
  margin: 0px;

}
.footer-text{
  text-decoration: none;
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  display: inline-block;
  font-style: normal;
  color: #FFFFFF;
  font-family: open-sans-condensed, sans-serif;
  font-weight: 300;
}
.footer-col75 {
  display: block;
  float: left;
  width: 75%;
  padding-left: 5px;
  padding-right: 5px;
}
.footer-col25 {
  display: block;
  float: left;
  width: 25%;
  padding-left: 5px;
  padding-right: 5px;
  text-align: right;
}
@media only screen and (max-width:650px) {
  .leftcolumn, .rightcolumn, .column-50, .footer-col75, .footer-col25 {
    display: block;
    width: 100%;
  }
  .education-col {
    display: block;
    margin-bottom: 10px;
    align: center;
    width: auto;
  }
  .leftcolumn, .rightcolumn, .column-50, .footer-col75, .footer-col25 {
    padding: 10px;
  }
  .row {
    margin-bottom: 5px;
    border-bottom: 1px solid black;
  }
  .footer-col25, .footer-col75 {
    text-align: center;
  }
  .footer-col75 {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .leftcolumn, .rightcolumn, .column-50, .footer-col75, .footer-col25, .nav a {
    display: block;
    width: 100%;
  }
  .education-col {
    display: block;
    margin-bottom: 10px;
    align: center;
    width: auto;
  }
  .leftcolumn, .rightcolumn, .column-50 {
    padding: 10px;
  }
  .footer-col75, .footer-col25 {
    padding: 5px;
  }
  .row {
    margin-bottom: 5px;
    border-bottom: 1px solid black;
  }
  a.divider {
    display: none;
  }
  a.divider-footer {
    padding-left: 0px;
    padding-right: 0px;
  }
  .footer-col25, .footer-col75 {
    text-align: center;
  }
  .footer-col75 {
    margin-bottom: 15px;
  }
}


/* PDFPage */
body.pdf {
  width: 230mm;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 12pt;
  background: rgb(204,204,204);
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.main-page {
  width: 215.9mm;
  min-height: 279.4mm;
  margin: 10mm auto;
  background: white;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
.sub-page {
  padding: 1cm;
  height: 297mm;
  line-height: normal;
  font-family: 'Calibri', sans-serif; 
}
@page {
  size: letter;
  margin: 0;
}
@media print {
  html, body {
    width: 215.9mm;
    height: 279.4mm;        
  }
  .main-page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
.pdfheader {
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
}
.pdfheader h1{
  margin-bottom: 0px;
  width: 100%;
  font-size: 27px;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-weight: normal;
}
.pdfheader h2 {
  font-family: 'Calibri', sans-serif;
  border:none;
  line-height: normal;
  font-size: 18px;
  border-spacing: none;
  margin-bottom:10px;
  margin-top:0px;
  width: 100%;
  /* font-weight: lighter; */
}
.pdfsection h2{
  width:100%;
  line-height: normal;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Calibri', sans-serif;
  margin:auto;
  border: none;
  font-size: 18px;
  font-weight: bold;
  /* background-color: #ABABAB; */
  /* background-image: url(/Images/PDFsectionbgcolor.png); */
}
.pdfsectionheader{
  position:relative;
  text-align: center;
}
.pdfsectiontitle{
  position:absolute;
  top: 0;
}
.pdfsection img{
  width:100%;
  height:24px;
}
.pdftitle1, .pdftitle2, .pdflocation1, .pdflocation2, .pdfdates1, .pdfdates2, .pdfedtitle, .pdfeddates, .pdfsection h4{
  font-size: 18px;
  text-align: left;
  padding-left: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin:0px;
}
.pdfsection::after {
  clear: both;
}
.pdfsection::before, .pdfsection::after {
  display: table;
  content: " ";
}
::before, ::after {
  box-sizing: border-box;
}
.pdfdates1, .pdfdates2, .pdfeddates, .pdfsection#pdfprojects {
  display: block;
  float: left;
  width: 33.33333333%;
  padding-left: 40px;
  padding-right: 0px;
  text-align: right;
}
.pdflocation1, .pdflocation2, .pdfedtitle, .pdfsection#pdfskills {
  display: block;
  float: left;
  text-align: left;
  width: 66.66666667%;
  padding-right: 40px;
  padding-left: 0px;
}
.pdfsection li{
  font-weight: lighter;
}
.pdfjob1 br, .pdfjob2 br, .pdfsection br{
  margin: 8px;
}
.pdfsection h4{
  text-decoration: underline;
  text-align: center;
}
.pdfsection#pdfskills, .pdfsection#pdfprojects{
  width:50%;
}
.pdfsection#pdfskills ul, .pdfsection#pdfprojects ul{
 padding-left:20px;
 margin:0px;
}
.pdfsection#pdfskills{
  padding-right:5px;
}
.pdfsection#pdfprojects{
  padding-left:5px;
  text-align: left;
}
